@model PaginacaoDepartamentos

@{
    ViewData["Title"] = "Index";
}

<h1>Departamentos</h1>

<p>
    <a asp-action="Create">Criar Novo</a>
</p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Procurar por nome: <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
           
            <input type="submit" value="Procurar" class="btn btn-danger" />
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
               Nome
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Departamento)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.DepartamentoID">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.DepartamentoID">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.DepartamentoID">Apagar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@for (int i = 1; i <= Model.TotPaginas; i++)
{

    @if (i == Model.PagAtual)
    {

        <a href="#" class="btn btn-outline-secondary">@i</a>

    }
    else
    {

        <a asp-action="Index" asp-route-page="@i" class="btn btn-outline-info">@i</a>
    }
}
